<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="demo.css">
   <!--  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet"> -->
</head>
<div class="hol">
<body>
   
    <div style="text-align: center;">
        <div >
    <img src="besant.jpeg" style="height: 50px;" >
    <h3>Besant Technologies</h3></div>
    <h4 >  Anna Nagar</h4></div>
    <div class="ct1">
    <div  style="display: flex; justify-content: space-between">
     
           <h4>Enquiry form</h4>
    <div>
    <label>Date:</label>
    <input type="number" ></div>
    </div>
    <div>
    <label>Name:</label>
    <input type="text"style="width: 700px"></div>
    <div >
        <div>
    <label>Mobile No:</label>
    <input type="number">
    <label>Alternate No:</label>
    <input type="number">
</div>
<div>
    <label >Email:</label>

    <input type="email " style="width: 700px" ></div>
    <div>
    <label>Current Location:</label>
    <input type="text" style="width: 700px"></div>
    <div>
    <label>Cours Interested:</label>
    <input type="email"></div>

    <div>
    <lable> Batch Perferred:</lable>    
    <input type="checkbox"> Weekdays
    <input type="checkbox"> Weekend</div>
<div>
<label>Prefession</label>

<input type="checkbox">Student
<input type="checkbox">Fresher
<input type="checkbox">Exp IT 
<input type="checkbox">Exp NOn IT
<input type="checkbox">Career Break
</div>
<div>
<table class="table">
    <tr>
        <th>Student</th>

        <th>Fresher</th>
        <th> <div>Years of</div>
            Exp IT(Domain)
        </th>
        <th>
            <div>Years of</div>
            Exp in non IT
        </th>
        <th>
            <div>How many years</div> 
            Career break
        </th>
    </tr>
    <tr>
        <td>xxxxx</td>
        <td>xxxxx</td>
        <td>xxxxx</td>
        <td>xxxxx</td>
        <td>xxxxx</td>
    </tr>
        
    
</table>
</div>
 <label>Exp IT or Non IT Company Name:</label>
    <input type="text" style="width: 700px">
    <div>
    <lable> Are You Intrested As Become a Trainer :</lable>    
    <input type="checkbox"> Yes   
    <input type="checkbox"> No</div>
    <label>How Did YOu Hear About  AS:</label>
    <input type="checkbox"> Googlee Search
    <input type="checkbox"> Social Media
    <input type="checkbox"> Reference

<div>
    <label>Contact Person From Besant Technolegies:</label>
    <input type="text"></div>
    <h5>Office Use</h5>
    <label>Counsellor:</label>
    <input type="text">
    <label>Current Fee:</label>
    <input type="text">
    <div>
    <label>Status:</label>
    <input type="text">

    <label>Commant:</label>
    <input type="text">
    </div>
    </div>
    </div>
    
    
</body>
</div>
</html>