    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" conten="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
         <h1>Thank You for The Registration </h1>
         <p>Thannk You for regisration for your service.We are exited to have you as a member of comunity!
          <p>If you have any qustiond or need further assistance.pleas feel free to contact us.</p>
            Best regards, 
            
         <p>   The Registration Team!.....
         </p>
    </body>
    </html>